<h1 style="color:green">Module 8:Functions<hr>
Lecture 26: System-Defined Functions
</h1>

In [3]:
#zip() -- 
std_name = [ "Sarah", "Maria", "Smith", "Clark" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 90, 80, 60, 70 ]
mapped = zip(std_name,roll_no,marks)

In [4]:
mapped

In [5]:
type(mapped)

zip

In [6]:
record = list(mapped)
print(record)

[('Sarah', 4, 90), ('Maria', 1, 80), ('Smith', 3, 60), ('Clark', 2, 70)]

In [7]:
# sum()-- calculates sum of iterator
total_marks = sum(marks)
print(total_marks)

300

In [8]:
print(sorted(marks))

[60, 70, 80, 90]

In [9]:
#map
names = ['Isadora','Bob','April']
names_length = map(len,names)
names_length

In [10]:
print(list(names_length))

[7, 3, 5]

In [11]:
# use dict()
mylist = [('a', 15), ('b', -25)]
mydict = dict(mylist)
print(mydict)

{'a': 15, 'b': -25}

In [12]:
#consider a list of words and convert it into tuple
new_lst = ['sat', 'hat', 'fat', 'rat']
mytpl = tuple(new_lst)
print(mytpl)

('sat', 'hat', 'fat', 'rat')

In [14]:
set(mytpl)

{'fat', 'hat', 'rat', 'sat'}

In [15]:
#dir shows valid attributes of object
print(dir(mydict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [16]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [19]:
operand = 11
print(eval('operand + 1'))

12

In [20]:
companies = ["IBM", "Google", "Apple", "Cisco"]
marks = [10,20,30,100]
print(max(companies))
print(max(marks))

IBM
100

In [21]:
print(min(companies))
print(min(marks))

Apple
10

In [22]:
#The chr() method takes a single parameter, an integer i.

#The valid range of the integer is from 0 through 1,114,111.
print(chr(97))

a

In [23]:
val = 9
print(id(val))

140703608509504

In [28]:
#slice
companies = ["IBM", "Google", "Apple", "Cisco"]

slice_val = slice(1,4,2)
print(companies[slice_val])

['Google', 'Cisco']